.content__container {
    padding: 50px 150px;
}

.ktp__container,
.content__title,
.additional__input {
    color: #104aa3;
}

.content__title {
    text-align: center;
}

.ktp__container,
.additional__container {
    box-shadow: 4px 4px 8px 4px rgba(23, 114, 226, 0.2), 4px 6px 20px 0 rgba(13, 71, 164, 0.19);
    border-radius: 20px;
    padding: 30px 50px;
    justify-content: center;
}

.vl {
    border-left: 2px solid #1f76c7;
    height: 220px;
}

.button--blue,
.button--blue:hover,
.content__number__container {
    color: #fff;
}

.button--blue,
.button--blue:hover {
    background-color: #114aa3;
    padding: 10px 60px;
    border-radius: 20px;
    font-size: 1.2rem;
}

.button__container {
    display: flex;
    justify-content: end;
}

.section__order__container {
    margin-left: 30px;
}

.content__number__container {
    background-color: #1f76c7;
    border-radius: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__chapter,
.additional__container {
    color: #1f76c7;
}

.content__chapter {
    font-weight: 500;
}

.ktp__image {
    border-radius: 5px;
}

.chapter__subtitle,
.additional__subtitle {
    font-weight: 500;
}

.additional__input {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #104aa3;
}

.additional__input--address {
    width: 90%;
}

hr {
    background: #1f76c7;
    margin: 35px 0;
}

/* Chrome, Safari, Edge, Opera */
.additional__container input::-webkit-outer-spin-button,
.additional__container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.additional__container input[type=number] {
    -moz-appearance: textfield;
}

.additional__map__container {
    padding: 20px 15px;
    display: flex;
    justify-content: flex-end;
}

.additional__map {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* FILE UPLOAD */

:root {
    --colorPrimaryNormal: #00b3bb;
    --colorPrimaryGlare: #1f76c7;
    --colorPrimaryHalf: #114aa3;
    --colorPrimaryEighth: #dff5f7;
}

.upload_dropZone {
    outline: 2px dashed var(--colorPrimaryHalf, #c1ddef);
    transition:
        outline-offset 0.2s ease-out,
        outline-color 0.3s ease-in-out,
        background-color 0.2s ease-out;
    border-radius: 10px;
}

.upload_dropZone.highlight {
    outline-offset: -4px;
    outline-color: var(--colorPrimaryNormal, #0576bd);
    background-color: var(--colorPrimaryEighth, #c8dadf);
}

.btn-upload,
.btn-upload:hover {
    color: #fff;
    background-color: var(--colorPrimaryHalf);
}

.upload_img {
    width: calc(33.333% - (2rem / 3));
    object-fit: contain;
}

.upload__icon {
    font-size: 2.5rem;
}