.content__container {
    padding: 50px 150px;
}

.content__title,
.details__value {
    color: #104aa3;
}

.details__value {
    font-weight: 500;
}

.content__list__container {
    box-shadow: 4px 4px 8px 4px rgba(23, 114, 226, 0.2), 4px 6px 20px 0 rgba(13, 71, 164, 0.19);
    border-radius: 20px;
    padding: 30px 50px;
    justify-content: center;
}

.vl {
    border-left: 2px solid #1f76c7;
    height: 50px;
}

.button--blue,
.button--blue:hover {
    background-color: #114aa3;
    color: #fff;
    padding: 5px 60px;
    border-radius: 20px;
    font-size: 1rem;
    width: 240px;
}

.details__container--address {
    padding-left: 15px;
}

.details__value--quant {
    text-align: right;
}

.button__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.rating__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating__icon {
    color: #104aa3;
    font-size: 1.7rem;
}