.footer__container {
    background-color: #114aa3;
    padding: 70px;
    width: 100%;
}

.footer__container a {
    color: #fff;
    text-decoration: none;
}

.footer__container ul {
    padding: 0;
    list-style-type: none;

}

.footer__link--horizontal {
    margin: 0;
}

.footer__link--horizontal a,
.footer__copyright {
    color: #ccc !important;
}

.footer__container li:not(:last-child) {
    margin-bottom: 10px;
}

.footer__link--horizontal li {
    display: inline-block;
    margin-bottom: 0;
}

.footer__section--right {
    text-align: right;
}