.content__container {
    padding: 100px 300px;
}

.image-rating__container,
.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__container {
    position: relative;
    width: fit-content;
}

.image--circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}

.rating__container,
.button--blue,
.button--blue:hover {
    color: #fff;
}

.rating__container,
.button--blue {
    background-color: #114aa3;
    border-radius: 20px;
    font-size: 1.2rem;
}

.rating__container {
    width: fit-content;
    padding: 5px 15px;
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.button--blue {
    padding: 5px 60px;
}

.details__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}